:root {
  --Montserrat: 'Montserrat', sans-serif;
  --azure: #0290ff;
}

nav {
  background-color: white;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navUl {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li {
  list-style: none;
}

nav a {
  text-decoration: none;
  font-family: var(--Montserrat);
  font-size: 0.813rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.9px;
  color: #121212;
  opacity: 0.5;
  margin: 0 10px;
}

.navHeader {
  background-color: white;
  padding: 10px;
  display: flex;
  align-items: center;
}

.active {
  opacity: 1;
}

.navTitle {
  width: 15rem;
  height: 2.313rem;
  margin: 0.375rem 2.938rem 0.125rem 0;
  font-family: var(--Montserrat);
  font-size: 1.875rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--azure);
}

.Oval {
  margin-right: 10%;
}

svg {
  color: rgb(2, 144, 255);
}

svg:not(:root).svg-inline--fa,
svg:not(:host).svg-inline--fa {
  overflow: visible;
  box-sizing: content-box;
}

.svg-inline--fa {
  display: var(--fa-display, inline-block);
  height: 1em;
  overflow: visible;
  vertical-align: -0.125em;
}